[submodule "src/ios/Adjust"]
	path = src/ios/Adjust
	url = https://github.com/adjust/ios_sdk.git
[submodule "src/android/Adjust"]
	path = src/android/Adjust
	url = https://github.com/adjust/android_sdk.git
